<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .title }}</title>
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Bellefair&family=Open+Sans:wght@300;400;700;800&family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script><![endif]-->
</head>
<body>

<section class="fluid-section-one">
    <div class="side-icon"><img src="images/icons/fluid-icon.png" alt="" /></div>
    <div class="outer-container clearfix">
        <!-- Image Column -->
        <div class="image-column clearfix" style="background-image:url(images/resource/image-1.jpg)">
            <div class="inner-column">
                <div class="sec-title light">
                    <h2>Frequently asked <br> questions</h2>
                    <div class="text">Tonam rem aperiam, eaque ipsa quae ab illo inventoe veritatis et quasi architecto beatae vitae dicta sunt explicabo exercitationem ullam corporis.</div>
                </div>

                <!-- Accordian Box -->
                <ul class="accordion-box">

                    <!-- Block -->
                    <li class="accordion block active-block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Quis autem vel eum iure reprederit?</div>
                        <div class="acc-content current">
                            <div class="content">
                                <div class="accordian-text">Dolor sit amet, consectetur, adipisci velit, sed quia non numuameius modi tempora incidunt ut labore et dolore magnam aliuam quaerat voluptatem.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>fugiat quo voluptas nulla pariatu?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="accordian-text">Dolor sit amet, consectetur, adipisci velit, sed quia non numuameius modi tempora incidunt ut labore et dolore magnam aliuam quaerat voluptatem.</div>
                            </div>
                        </div>
                    </li>

                    <!-- Block -->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus flaticon-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>minima veniam, quis nostrum exerci?</div>
                        <div class="acc-content">
                            <div class="content">
                                <div class="accordian-text">Dolor sit amet, consectetur, adipisci velit, sed quia non numuameius modi tempora incidunt ut labore et dolore magnam aliuam quaerat voluptatem.</div>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>

        <!-- Content Column -->
        <div class="content-column">
            <div class="inner-column">
                <div class="sec-title">
                    <h2>GEt A Free <br> Consultation</h2>
                </div>

                <!-- Default Form -->
                <div class="default-form">
                    <form action="/view_bank/registration_successful" method="post" >
                        <div class="row clearfix">

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="Name" id="Name" placeholder="Name">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="Surname" placeholder="Surname">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="Telephone" placeholder="Telephone">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="Mail" placeholder="Mail">
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="text" name="Password" placeholder="Password">
                            </div>



                            <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                <button class="theme-btn btn-style-two" type="submit" name="submit-form"><span class="txt">Submit Now <i class="arrow flaticon-right"></i></span></button>
                            </div>


                        </div>
                    </form>
                </div>
                <!-- End Default Form -->

            </div>
        </div>
    </div>
</section>
    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/tilt.jquery.min.js"></script>
    <script src="js/jquery.paroller.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/nav-tool.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/script.js"></script>
</body>
</html>